
//Primary Color

$strong-cyan:hsl(171, 66%, 44%);
$light-blue:hsl(233, 100%, 69%);

 //Neutral

 $dark-grayish-blue:hsl(210, 10%, 33%);
$grayshi-blue: hsl(201, 11%, 66%);
$grayshi-blue-foot: hsl(201, 11%, 66%,0.5);

